<% content_for :head do %>
	<%= stylesheet_link_tag "testimonials" %>
<% end %>

<h1><%= t(:testimonials) %></h1>

<% if @testimonials.blank? %>
  <%= t(:no_testimonials) %>
<% else %>
  <%= will_paginate(@testimonials) %>
	<div class="testimonial-listing">
		<% @testimonials.each do |testimonial| %>
			<div class="testimonial">
				<div class="testimonial-name">
					<%= testimonial.name %>
				</div>
				<div class="testimonial-body">
					<%= testimonial.body %>
				</div>
			</div>
		<% end %>
	</div>
  <%= will_paginate(@testimonials) %>
<% end %>

<div class="testimonial-form">
  <%= render "new" %>
</div>
